@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------------------
Base Theme Setup
--------------------------- */
@layer base {
  :root {
    /* Core Colors */
    --background: #fcf7f7;
    --bg:#ffffff;
    --text: #191818;
    --primary: #2130a2;
    --primary-light: #3b82f6; /* blue-500 */
    --primary-dark: #1e3a8a; /* blue-800 */
    --accent: #f68336;
    --accent-light: #db9e6d; /* orange-400 */
    /* --accent-dark: #c2410c; orange-700 */
    --surface: #fcfdfe;
    /* --surface-gray:#515762; */
    --dark: #232f3e;
    --border: #e1e3e9;
    --muted: #636a77; /* gray-500 */

    /* Font Families */
    --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, sans-serif;
    --font-mono: "Fira Code", monospace;

    /* Layout */
    --container-max: 1280px;
    --radius-base: 8px;
    --transition: 0.25s ease-in-out;
    --container-padding: 1.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --text: #ededed;
      --surface: #1a1a1a;
      --border: #2a2a2a;
    }
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-sans);
    color: var(--text);
    background-color: var(--background);
    line-height: 1.6;
    transition: background-color var(--transition), color var(--transition);
  }

  a {
    color: inherit;
    text-decoration: none;
    transition: color var(--transition);
  }

  a:hover {
    color: var(--primary);
  }

  :focus-visible {
    outline: 3px solid rgba(226, 136, 33, 0.55);
    outline-offset: 2px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    color: var(--text);
  }

  section {
    width: 100%;
    padding: 4rem var(--container-padding);
    border: 1px solid var(--border);
    margin: 0 auto;
  }
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0 1rem;
  }
}
.hover-up {
  @apply transition-transform duration-300 ease-out hover:-translate-y-1;
}

